::-webkit-scrollbar {
  width: 7px; /* 1 - вертикальный скроллбар */
}
::-webkit-scrollbar:horizontal {
  height: 7px; /* 1 - горизонтальный скроллбар */
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #00BCD4;
  border-radius: 2px;
}