.notes-component {
  display: flex;
  flex-direction: column;
  .notes-component__cpanel {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .notes-component__container {
    height: calc(100vh - 144px);
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    overflow: auto;
  }
}