@import '../cpanel';
@import '../../../node_modules/react-md/src/scss/react-md';

.events-component {
  .events-component__cpanel {
    @extend .cpanel;
  }
  .events-component__container {
    height: calc(100vh - 140px);
    padding: 0 10px;
    box-sizing: border-box;
  }
}
.rbc-current-time-indicator {
  background-color: $md-cyan-500 !important;
  &::before {
    background-color: $md-cyan-500 !important;
  }
}
