.note-component__wrapper {
  margin: 10px;
  width: 300px;
  .note-component {
    position: relative;
    transition: height 0.1s;
    background-color: #fff;
    .note-content-component {
      height: 330px;
      box-sizing: border-box;
      padding: 0 20px 20px 20px;
      user-select: all;
    }
    .note-component__toolbar-title {
      max-width: 60%;
      cursor: default;
    }
    .note-component__color-picker {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .7);
      display: flex;
      justify-content: center;
      align-items: center;
      .note-component__circle-picker {
        width: 100% !important;
      }
    }
    ::-webkit-scrollbar {
      width: 3px; /* 1 - вертикальный скроллбар */
    }
    ::-webkit-scrollbar:horizontal {
      height: 3px; /* 1 - горизонтальный скроллбар */
    }
  }
  .note-component_full {
    height: auto;
  }
  .note-component_min {
    height: 64px;
  }
}
